//====================================================================================================
.header {
   @include adaptiveValue("padding-top",60 ,20);
	@include adaptiveValue("padding-bottom",60 ,20);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999999;
	transition: all 0.3s ease 0s;
	&._header-scroll{
    padding-top: rem(20);
	 padding-bottom: rem(20);
	 background-color: #12181bf5;

	}
	// .header__contain-big

	&__contain-big {
		display: grid;
	   grid-template-columns: rem(300) 1fr rem(300);
		align-items: center;
		@media (max-width:em(1080) ){
			grid-template-columns: auto 1fr auto;
		}
	}

   &__logo {
		position: relative;
	@media (max-width: $mobile) {
     flex: 1 1 auto;

	  & img {
		@include adaptiveValue ("width", 143, 100);
   
	}
	}

	
}
	

	// .header__menu

	&__menu {
	flex: 1 1 auto
	}

	// .header__actions

	&__actions {
		position: relative;
		z-index: 5;
		display: flex;
		gap: rem(16);
		align-items: center;
		
	}

	// .header__button

	&__button {
	}
	
	



}
.menu {
   //padding: 0 rem(10);
  	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		@media (max-width:$mobile){
			position: fixed;
			display: flex;
			width: 100%;
			height: 100%;
			overflow: auto;
			top: 0;
			left: -100%;
			background-color: #4e4c4c;
			transition: left 0.3s ease 0s;
			padding: 40px 15px 30px 15px;
			font-size: 34px;
			color: #828282;
			justify-content: center;
		   
		 
		 .menu-open & {
			 left:0;
		
		 }
		}
	}

	// .menu__list

	&__list {
		//gap: 44px;
		display: flex;
		flex-wrap: wrap ;
	
		justify-content: center;
		align-items: center;
		@include adaptiveValue("gap", 44, 10);
		
		@media (max-width:$mobile){
			flex-direction: column;
			font-size: 50px;
			color: white;  
			gap: 40px;
		}
		
	}

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {


		transition: all 0.2s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				
				color: $greenColor;
			}
	}
}





}
//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: rgb(255, 255, 255);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
