//====================================================================================================
.wrapper {
	
}
.page {
	
}
.one {
	@include adaptiveValue("padding-top", 251, 100);

		// .one__contain-big

		&__contain-big {

		}

		// .one__container

		&__container {

		}

		// .one__inner

		&__inner {
			max-width: 800px;
			margin: 0 auto;
			text-align: center;
		}

		// .one__title

		&__title {
			@include adaptiveValue("font-size",70 , 40);
			//font-size: rem(70);
			font-weight: 700;
			padding-bottom: 69px;
			& span {
				color: $greenColor;
			}

		}

		// .one__text

		&__text {
			font-weight: 400;
			padding-bottom: 48px;
         line-height: 180%;
		}

		// .one__logo-inner

		&__logo-inner {
		}

		// .one__logo-img

		&__logo-img {
		}
}
.form{
	display: flex;
	justify-content: center;

	

	&__body{
		@include adaptiveValue("width", 533, 303);
		//width: rem(533);
		@include adaptiveValue("height", 76, 50);
	
		background-color: white;
		//position: relative;
		border-radius: rem(10);
		padding: rem(6);
		display: flex;
		column-gap: rem(7);
	}

	&__input{
		padding: 0 rem(15);
		//border: 1px solid transparent;
		flex: 1 1 auto;
		@media (max-width:$mobile){
			padding: 0;
         font-size: 15px;
		}
	}
	&__button{
		@include adaptiveValue("font-size", 18, 13);
	}
}


.one {
  position: relative;
	// .one__logo-inner

	&__logo-inner {
		@include adaptiveValue("padding-top", 209, 30);
		@include adaptiveValue("padding-bottom", 203, 40);
		
		display: flex;
		@include adaptiveValue("gap", 108, 30);
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		@media (max-width:em(1040)){
			  justify-content: center;
		}
	}

	// .one__logo-img

	&__logo-img img{
		max-width: 100%;
	
	}

	&__logo-img {
	
		@media (max-width:$mobile){
	   max-width: 50%;
		}
}
}

.circle {
	
	@include adaptiveValue("width", 585, 150);
	@include adaptiveValue("height", 585, 150);
	border: 2px solid grey;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.cirle1 {
transform: translate(calc(-35% - rem(28)), -45%);
}
.cirle2 {
	transform: translate(calc(-30% + rem(27)),-54%);
}



.items {

	// .items_item1

	&_item1 {
		position: absolute;
		top: 50%;
	}

	// .items_item2

	&_item2 {
		position: absolute;
		top: 39%;
		left: 20%;
	}

	// .items_item3

	&_item3 {
		position: absolute;
		top: percent(617, 974);
		left: 32%;
	}

	// .items_item4

	&_item4 {
		position: absolute;
		top: 40%;
		right: 23%;
	}

	// .items_item5

	&_item5 {
		position: absolute;
		top: 30%;
      right: 10%;
	}

	// .items_item6

	&_item6 {
		position: absolute;
		top: percent(617, 974);
		right: 23%;
	}

	&_item7 {
		position: absolute;
		top: percent(133, 974);
		right: 34%;
	}
}


//====================================================================================================
